
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0),0px 0px 0px 0px rgba(0,0,0,0)
,0px 0px 0px 0px rgba(0,0,0,0);

}



.mat-expansion-panel {
    padding: 0 2px;
}

.mat-expansion-panel-header > body {
    padding: 0 2px;
}

.description-width {
    max-width: 150px;
}

@media (min-width: 576px) {  
    .description-width {
        max-width: 250px;
    }
}

@media (min-width: 768px) {  
    .description-width {
        max-width: 350px;
    }
}

@media (min-width: 992px) {  
    .description-width {
        max-width: 250px;
    }
}

@media (min-width: 1200px) {  
    .description-width {
        max-width: 350px;
    }
}

