.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.bg-image {
  background-image: url(../../../assets/fonds4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}

.login-container {
  height:100%;
}