<h2 mat-dialog-title>{{ child.firstName }} {{child.lastName}} {{ child.classSchool| className }}</h2>
<mat-dialog-content class="mat-typography">
  <h4>Historique des absences</h4>

  <div class="mt-3">

    @if (child.absences.length > 0) {
        <app-absences-child-list [absencesId]="child.absences"></app-absences-child-list>
    } @else {
        <p>Aucune absence renseignée au cours de cette année scolaire.</p>
    }

  </div>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Retour</button>
</mat-dialog-actions>